version: '3'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      MSSQL_SA_PASSWORD: myPassw0rd2o19
      ACCEPT_EULA: Y
    ports:
      - "1433:1433"
    networks:
      inifynetwork:
        ipv4_address: 172.18.0.2

  usersms:
    image: usersmshost:latest
    build: ./UsersMS/UsersMS.Host
    container_name: usersms
    ports:
      - 5107:80
    networks:
      inifynetwork:
        ipv4_address: 172.18.0.5

  walletsms:
    image: walletsmshost:latest
    build: ./WalletsMS/WalletsMS.Host
    container_name: walletsms
    ports:
      - 5065:80
    networks:
      inifynetwork:
        ipv4_address: 172.18.0.6

  tokensms:
    image: tokensmshost:latest
    build: ./TokensMS/TokensMS.Host
    container_name: tokensms
    ports:
      - 5181:80
    networks:
      inifynetwork:
        ipv4_address: 172.18.0.7

  blockchainparsersms:
    image: blockchainparsersmshost:latest
    build: ./BlockchainParsersMS/BlockchainParsersMS.Host
    container_name: blockchainparsersms
    ports:
      - 5074:80
    networks:
      inifynetwork:
        ipv4_address: 172.18.0.8

  apigateway:
    image: apigatewayhost:latest
    build: ./ApiGateway/ApiGateway.Host
    container_name: apigateway
    ports:
      - 5082:80
    networks:
      inifynetwork:
        ipv4_address: 172.18.0.9

networks:
  inifynetwork:
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/16
          gateway: 172.18.0.1
